.home{


  .card {
    margin: 10px;
    padding: 10px;
  }

  .display-products {
    white-space: nowrap;
    overflow-x: auto;
  }

  .display-products .cell {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: 10px;
    width: 25%;
  }


  padding-top: 3.6rem;

  @include breakpoint(small only){
    padding-top: 2.5rem;
  }

  .hero{
    width: 100%;
    box-sizing: border-box;

    .hero-slider{
      img{
        width: 100% !important;
      }
    }
  }
}